{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation de mot de passe
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('style/pages/global.css')}}">
{% endblock %}
{% block content %}
	<div class="content">
		<section>
			<h1>Demande de réinitialisation de mot de passe</h1>
			{{ form_start(requestPassForm) }}
			{{ form_row(requestPassForm.email) }}
			<button type="submit" class="btn">Envoyer</button>
			{{ form_end(requestPassForm) }}
		</section>
	</div>
{% endblock %}
