{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('style/pages/global.css')}}">
{% endblock %}
{% block content %}
	<div class="content">
		<section>
			<h1>Réinitialisation du mot de passe</h1>
			{{ form_start(passForm) }}
			{{ form_row(passForm.password) }}
			<button type="submit" class="btn">Envoyer</button>
			{{ form_end(passForm) }}
		</section>
	</div>
{% endblock %}
