{% extends 'base.html.twig' %}

{% block title %}Modifier Profil
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('style/pages/global.css')}}">
{% endblock %}
{% block content %}
	<div class="content">
		<h1>Profil de
			{{user.firstname}}
			{{user.lastname}}</h1>

		<p>Email :
			{{user.email}}</p>


		<a href="{{ path('forgotten_password') }}" class="btn">
			Changer de mot de passe</a>
		{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}


		{{ include('user/_delete_form.html.twig') }}
	</div>
{% endblock %}
