{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('style/pages/user.css')}}">
{% endblock %}

{% block content %}
	<div class="content">
		<h1>Profil de
			{{user.firstname}}
			{{user.lastname}}</h1>

		<table class="table">
			<tbody>

				<tr>
					<th>Nom de famille</th>
					<td>{{ user.lastname }}</td>
				</tr>
				<tr>
					<th>Prénom</th>
					<td>{{ user.firstname }}</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>{{ user.email }}</td>
				</tr>
				<tr>
					<th>Date de création de compte</th>
					<td>{{ user.registeredDate ? user.registeredDate|date('d/m/Y') : '' }}</td>
				</tr>

			</tbody>
		</table>
		{% if ads is not empty %}


			<table class="ad_table">
				{% for ad in ads %}
					<tr>
						<td>
							{{ad.title}}
						</td>
						<td>
							<a href="{{ path('app_ad_show', {'id': ad.id}) }}">
								Voir les détails</a>
							<a href="{{ path('app_ad_edit', {'id': ad.id}) }}">Modifier l'annonce</a>
						</td>
					</tr>
					<tr></tr>
				{% endfor %}
			</table>
		{% endif %}

		<a href="{{ path('app_user_edit', {'id': user.id}) }}">Mofidier le profil</a>
		{{ include('user/_delete_form.html.twig') }}
		{% if (app.user and user == app.user) %}

			<a href="{{ path('app_logout') }}">Déconnexion</a>
		{% endif %}
	</div>

{% endblock %}
